*/!.gitkeep
*~
*.bak
*.sublime-project
*.sublime-workspace
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
.tmpoj
.idea
._*
.Spotlight-V100
.Trashes
composer.phar