.footer {
	background-color: #F5F5F5;
	border-top: 1px solid #E5E5E5;
	margin-top: 70px;
	padding: 70px 0;
}

tfoot {
	font-weight: bold !important;
}

tfoot td {
	border-top: #AAA 1px solid !important;
}

div[rel=tooltip] {
	cursor: pointer;
}

.death-knight { color: #93172c; }
.druid { color: #bf5e08; }
.hunter { color: #809f56; }
.mage { color: #4f99b4; }
.monk { color: #00bf71; }
.paladin { color: #b8698c; }
.priest { color: #bfbfbf; }
.rogue { color: #bfb84f; }
.shaman { color: #0054a7; }
.warlock { color: #6f6297; }
.warrior { color: #957553; }

.center { text-align: center !important; }
.icon { width: 16px; height: 16px; margin: 0 auto; }
.offspec { background: url("/img/offspec.png"); }
.confirmed { background: url("/img/confirmed.png"); }
.standby { background: url("/img/standby.png"); }
.out { background: url("/img/out.png"); }

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 100%;
}