<div class="modal hide fade" id="addItem" tabindex="-1" role="dialog" aria-labelledby="addItemLabel" aria-hidden="true">
	<form action="/item/" method="POST" id="addItemForm">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="addItemLabel">Add Item</h3>
		</div>
		<div class="modal-body">
			<label>Item ID</label>
			<input name="id" type="text">
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<button type="submit" class="btn btn-primary">Add</button>
		</div>
	</form>
</div>