<div tabindex="-1" role="dialog" aria-labelledby="addPlayerLabel">
	<form action="/player/" method="POST" id="addPlayerForm">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="addPlayerLabel">Add Player</h3>
		</div>
		<div class="modal-body">
			<div id="notification-modal-holder"></div>
			<label>Player</label>
			<input type="text" name="player" value="">
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<button type="submit" class="btn btn-primary">Add</button>
		</div>
	</form>
</div>
